<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
<div class="container">
  <a class="navbar-brand" href="/">Symphony4</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/article/add" class="nav-link">New Article</a>
            </li>
        </ul>
  </div>
  </div>
</nav>

